In [1]:
#37% rule
#This algorithm is set to solve the secretary problem.
#this is a subset of problems concerned with 'which is the best place to stop' 
# "Imagine you are interviewing a set of applicants for a position as secretary,and your goal is to maximise the chance of hiring the single best applicant from the pool.
# the rules are simple, we cannot know what qualifies someone as best, only a numerical rank relative to others. At any time we can give an offer to the current applicant and they are guaranteed to accept, ending the search, additionally, any applicants who are passed over, cannot be offered.

In [2]:
#we will perform a few strategies before fitting the most optimal, named the 'look then leap' strategy
#First we should set up our data.

In [3]:
#here is our list of applicants, with a name and a rank.

In [4]:
import numpy as np
import names as ns
import random
import pandas as pd

In [5]:
lst = list(np.arange(1,101))

In [6]:
random.shuffle(lst)

In [7]:
apps = []
for i in range(0, 100):
    apps.append(ns.get_full_name())

In [8]:
df = pd.DataFrame({"Name": apps, "Rank": lst, "Known Rating": [None]*100})

In [9]:
df

                Name  Rank Known Rating
0     Wilber Walters    46         None
1       Lisa Moberly     7         None
2        Kelly Waite    79         None
3     Joaquin Jewell    85         None
4         Lisa Kelly    92         None
..               ...   ...          ...
95        James Gray    58         None
96    Carmela Fraser    55         None
97      David Schuck    56         None
98  Dorothy Veronesi    90         None
99   Alberto Bradham    97         None

[100 rows x 3 columns]

In [90]:
#With our applicants and their scores we are almost ready to go, because we do not have perfect knowledge, we need to obscure their rank, such that we only know how they compare versus those who have came before.

In [1]:
#We are going to turn our dict into a dataframe, and add an additional column, this column will contain a list of bools, stating whether the applicant is better or worse than each who came before.

In [ ]:
#Strat 1, 'Best Yet'. In this strategy we are going to